.p-about-fv__inner {
  margin-top: 8rem;
  padding: 3rem 2rem;
  color: #08ceff;
  background-color: #d7f7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-about-fv__title {
  font-size: 2.4rem;
}

.p-about-intro__inner {
  padding: 6rem 0;
}
.p-about-intro__title {
  margin-bottom: 5em;
}
.p-about-intro__title::before {
  content: "PROFILE";
}
.p-about-intro__img-box {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
  position: relative;
}
.p-about-intro__img-box::before {
  content: "";
  width: 50%;
  height: 65%;
  background-color: #08ceff;
  position: absolute;
  top: -4rem;
  left: 0;
  z-index: -1;
}
.p-about-intro__img-box::after {
  content: "";
  width: 50%;
  height: 65%;
  background-color: #d7f7ff;
  position: absolute;
  bottom: -4rem;
  z-index: -1;
  right: 0;
}
.p-about-intro__img {
  width: 75%;
}
.p-about-intro__name {
  font-size: 2.2rem;
  margin-bottom: 0.3em;
}
.p-about-intro__name-under {
  display: block;
  font-size: 1.4rem;
  border-bottom: 3px solid #08ceff;
  margin-bottom: 1.2em;
}
.p-about-intro__intro-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.p-about-intro__text {
  margin-bottom: 1.25em;
}

.p-about-skill__inner {
  padding-bottom: 6rem;
}
.p-about-skill__title {
  margin-bottom: 2em;
}
.p-about-skill__title::before {
  content: "SKILLS";
}
.p-about-skill__lists {
  display: grid;
}
.p-about-skill__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
  padding: 1.5rem 0;
  border-bottom: 1px dashed #333;
}
.p-about-skill__item:nth-of-type(1) {
  border-top: 1px dashed #333;
}
.p-about-skill__font-awesome {
  display: flex !important;
  justify-content: center;
  font-size: 4rem;
}
.p-about-skill__name {
  margin-bottom: 0.3em;
}
.p-about-skill__text {
  font-size: 1.4rem;
}

@media (min-width: 37.5rem) {
  .p-about-fv__sub-title {
    font-size: 2rem;
  }
  .p-about-fv__title {
    font-size: 2.8rem;
  }
  .p-about-intro__inner {
    padding: 10rem 0;
  }
  .p-about-intro__img-box {
    width: 80%;
    margin: 0 auto 10rem;
  }
  .p-about-intro__img-box::before {
    top: -8rem;
  }
  .p-about-intro__img-box::after {
    bottom: -8rem;
  }
  .p-about-intro__name {
    font-size: 2.4rem;
  }
  .p-about-intro__name-under {
    font-size: 1.6rem;
  }
  .p-about-intro__intro-title {
    font-size: 2rem;
  }
  .p-about-intro__text {
    font-size: 1.8rem;
  }
  .p-about-skill__inner {
    padding-bottom: 10rem;
  }
  .p-about-skill__title {
    margin-bottom: 2.5em;
  }
  .p-about-skill__item {
    padding: 2rem 0;
  }
  .p-about-skill__font-awesome {
    font-size: 6rem;
  }
  .p-about-skill__name {
    font-size: 2rem;
  }
  .p-about-skill__text {
    font-size: 1.8rem;
  }
}
@media (min-width: 58.75rem) {
  .p-about-fv__inner {
    margin-top: 10rem;
    padding: 3rem 5rem;
  }
  .p-about-fv__title {
    font-size: 3.2rem;
  }
  .p-about-intro__inner {
    padding: 12rem 3rem 16rem;
  }
  .p-about-intro__img-box {
    margin-bottom: 14rem;
  }
  .p-about-intro__img {
    max-height: 600px;
    width: auto;
  }
  .p-about-intro__name {
    font-size: 2.8rem;
    margin-bottom: 0.3em;
  }
  .p-about-intro__name-under {
    font-size: 2rem;
    padding-bottom: 0.3em;
  }
  .p-about-intro__intro-title {
    font-size: 2.4rem;
  }
  .p-about-intro__text {
    margin-bottom: 1.5em;
  }
  .p-about-skill__inner {
    padding-bottom: 14rem;
  }
  .p-about-skill__title {
    margin-bottom: 3em;
  }
  .p-about-skill__lists {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .p-about-skill__item {
    grid-template-columns: 1fr 4fr;
    padding: 2rem 0;
  }
  .p-about-skill__item:nth-of-type(2) {
    border-top: 1px dashed #333;
  }
  .p-about-skill__name {
    font-size: 2.4rem;
  }
  .p-about-skill__text {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=_about.css.map */